<label>Are you open to procuring additional licences of your existing enterprise systems for the mobility project?</label>
<div class="form-group">
    <div class="radio">
        <label>
           <input type="radio" ng-model="formAction.licences" value="yes" checked>
           Yes
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formAction.licences" value="no">
            No
        </label>
    </div>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="formAction.submit" class="btn btn-block btn-info">
    Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>