<div class="row">
<div class="col-sm-8 col-sm-offset-2">

  <div id="form-container">

      <div class="page-header text-center">
        <div class="logo-holder">
          <a ui-sref=".profile"><img src="../../images/logo-deloitte-digital.png" alt="logo" /></a>
        </div>

          <h2>The 7 min Enterprise Mobility : Action</h2>

          <!-- the links to our nested states using relative paths -->
          <!-- add the active class if the state matches our ui-sref -->
          <div id="status-buttons" class="text-center">
              <a ui-sref-active="active" ui-sref=".envision"><span>1</span> Envision</a>
              <a ui-sref-active="active" ui-sref=".parameters"><span>2</span> Param</a>
              <a ui-sref-active="active" ui-sref=".logic"><span>3</span> Logic</a>
              <a ui-sref-active="active" ui-sref=".urgency"><span>4</span> Urgency</a>
              <a ui-sref-active="active" ui-sref=".inhouse"><span>5</span> In house</a>
              <a ui-sref-active="active" ui-sref=".model"><span>6</span> Model</a>
              <a ui-sref-active="active" ui-sref=".licences"><span>7</span> Licences</a>

              <a ui-sref-active="active" ui-sref=".submit"><span>8</span> Submit</a>
          </div>
      </div>

      <!-- use ng-submit to catch the form submission and use our Angular function -->
      <form id="signup-form" ng-submit="processForm1()">
          <!-- our nested state views will be injected here -->
          <div id="form-views" ui-view></div>
      </form>
  </div>

  <!-- show our formData as it is being typed -->
  <!-- <pre>
    {{ formAction }}
  </pre> -->

</div>
</div>

