<label>Please specify keywords that summarize features / functionalities of perceived app?</label>

<div class="form-group">
    <div class="radio">
        <label>
           <input type="radio" ng-model="formImpact.target" value="employee" checked>
           Employee
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formImpact.target" value="corporate">
            Corporate
        </label>
    </div>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.interests" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>