<label>Please specify keywords that summarize features / functionalities of perceived app?</label>



<div class="row">
  <div class="col-xs-7 col-xs-offset-1">
    Additional revenue
  </div>
  <div class="col-xs-3">
    <div class="form-group">
      <select class="form-control  btn-sm" ng-model="formImpact.features.1">
        <option>High</option>
        <option>Medium</option>
        <option>Low</option>
      </select>
    </div>
  </div>
  <div class="col-xs-7 col-xs-offset-1">
    Reduced cost
  </div>
  <div class="col-xs-3">
    <div class="form-group">
      <select class="form-control  btn-sm"  ng-model="formImpact.features.2">
        <option>High</option>
        <option>Medium</option>
        <option>Low</option>
      </select>
    </div>
  </div>
  <div class="col-xs-7 col-xs-offset-1">
    Improved employee satisfaction
  </div>
  <div class="col-xs-3">
    <div class="form-group">
      <select class="form-control  btn-sm"  ng-model="formImpact.features.3">
        <option>High</option>
        <option>Medium</option>
        <option>Low</option>
      </select>
    </div>
  </div>
  <div class="col-xs-7 col-xs-offset-1">
    Improved customer satisfaction
  </div>
  <div class="col-xs-3">
    <div class="form-group">
      <select class="form-control  btn-sm" ng-model="formImpact.features.4">
        <option>High</option>
        <option>Medium</option>
        <option>Low</option>
      </select>
    </div>
  </div>
  <div class="col-xs-7 col-xs-offset-1">
    Improved supplier satisfaction
  </div>
  <div class="col-xs-3">
    <div class="form-group">
      <select class="form-control  btn-sm" ng-model="formImpact.features.5">
        <option>High</option>
        <option>Medium</option>
        <option>Low</option>
      </select>
    </div>
  </div>
  <div class="col-xs-7 col-xs-offset-1">
    Improved distributor satisfaction
  </div>
  <div class="col-xs-3">
    <div class="form-group">
      <select class="form-control  btn-sm" ng-model="formImpact.features.6">
        <option>High</option>
        <option>Medium</option>
        <option>Low</option>
      </select>
    </div>
  </div>
  <div class="col-xs-7 col-xs-offset-1">
    Enhanced brand perception
  </div>
  <div class="col-xs-3">
    <div class="form-group">
      <select class="form-control  btn-sm" ng-model="formImpact.features.7">
        <option>High</option>
        <option>Medium</option>
        <option>Low</option>
      </select>
    </div>
  </div>
</div>




<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.target" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>